<PixBlock>
  <div class="user-account-panel_item">
    <label class="form-textfield__label user-account-panel_label">Prénom</label>
    <span aria-label="Prénom">{{@user.firstName}}</span>
  </div>
  <div class="user-account-panel_item">
    <label class="form-textfield__label user-account-panel_label">Nom</label>
    <span aria-label="Nom">{{@user.lastName}}</span>
  </div>
  <div class="user-account-panel_item">
    <label class="form-textfield__label user-account-panel_label">Adresse e-mail</label>
    <span aria-label="Adresse e-mail">{{@user.email}}</span>
  </div>
</PixBlock>