<label>Prénom</label>
<span aria-label="Prénom">{{@user.firstName}}</span>
<label>Nom</label>
<span aria-label="Nom">{{@user.lastName}}</span>
<label>Adresse e-mail</label>
<span aria-label="Adresse e-mail">{{@user.email}}</span>
